.mastercard__sty-1 {
    width: 80px;
    height: 80px;
    // outline: 1px solid #000; 
    enable-background: new 0 0 473.94 473.94;
}

.mastercard__sty-2 {
    fill: #F7981D;;
}

.mastercard__sty-3 {
    fill: #F16622;
}

.mastercard__sty-4 {
    fill: #CB2026;
}
.mastercard__sty-5{
    fill:#FFFFFF;
}