$our__production__nav-background:#f7fbfe;
$our__production__nav-h3:#2f3035;
$our__production__nav-h3-hover:#12888a;
$our__production__nav-img-background:#fff;


.our__production__nav{
    font-size: 10px;
}


.our__production__nav {
    background: $our__production__nav-background;
}


.our__production__nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}




.our__production__nav ul li a h3 {
    color: $our__production__nav-h3;
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    display: flex;
    justify-content: center;
    margin-top: .2rem;
}
.our__production__nav ul li a h3:hover{
    color: $our__production__nav-h3-hover;
}
.our__production__nav-img{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 15rem;
    height: 15rem;

}

.our__production__nav ul li img {
    border-radius: 50%;
    background-color: $our__production__nav-img-background;
    box-shadow: 0rem .9rem 1.2rem 1.2rem rgba(2, 66, 164, 0.1);
    width: 7.8rem;
    height: 7.8rem;
    transition: all 0.3s ease-out;
}

.our__production__nav ul li img:hover {
    height: 10rem;
    width: 10rem;
}