.sty-1 {
    width: 80px;
    height: 80px;
    // outline: 1px solid #000; 
    enable-background: new 0 0 512 512;
}

.sty-2 {
    fill: #FFFFFF;
}

.sty-3 {
    fill: #F79F1A;
}

.sty-4 {
    fill: #059BBF;
}

.sty-5 {
    opacity: 0.15;
    fill: #202121;
    enable-background: new;
}