.info{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 100px 0;
}

.info__description{
    
    max-width: 1200px;
    
}

.info__description h2{
    font-family: Proxima Nova Rg;
    font-size: 34px;
    font-weight: 700;
    color: #7f4eb1;
    text-align: center;
}

.info__description p{
    font-size: 16px;
    line-height: 1.2;
    color: black;
}

.info__description ul li{
    list-style: disc;
    color: black;
    padding: 0;
}