$our__production__h2-background:#f7fbfe;
$our__production__h2-color:#7f4eb1;
$our__production__h2-line-gradient-one:#8b67b1;
$our__production__h2-line-gradient-two: #12888a;




.our__production{
    font-size: 10px;
}




.our__production {
    max-width: 100%;
}

.our__production h2 {
    font-family: Proxima Nova Rg;
    font-size: 3.4rem;
    font-weight: 700;
    background: $our__production__h2-background;
    color: $our__production__h2-color;
    text-align: center;
    padding-bottom: 5.6rem;
    margin: 0;
}

.our__production h2::after {
    background-image: linear-gradient(90deg, $our__production__h2-line-gradient-one 0%, $our__production__h2-line-gradient-two 100%);
    content: '';
    display: inline-block;
    height: 1.6px;
    margin-left: 1rem;
    vertical-align: middle;
    width: 20rem;
    margin-left: 3rem;
}

.our__production h2::before {
    background-image: linear-gradient(90deg, $our__production__h2-line-gradient-one 0%, $our__production__h2-line-gradient-two 100%);
    content: '';
    display: inline-block;
    height: 1.6px;
    margin-left: 1rem;
    vertical-align: middle;
    width: 20rem;
    margin-right: 3rem;
}