$main__background: #f7fbfe;
$main__line-gradient-one: #8b67b1;
$main__line-gradient-two: #027b7d;
$main__context-span: #33cccc;
$main__content-a: #fff;
$main__content-a-hover: yellow;
$main__content-p: #33cccc;
$button__catalog: #2f3035;
$button__catalog-btn-border: #8b67b1;
$button__catalog-btn-hover: #7f4eb1;
$button__catalog-btn-hover-p: #fff;

main {
  font-size: 10px;
}

main {
  margin-left: 0;
  max-width: 100%;
  height: 794px;
  padding-bottom: 95px;
  background: $main__background;
  z-index: 0;
}

.main__wrapper {
  clip-path: circle(1059px at 190px -263px);
  background: url("../../assets/img/main-img/7.jpg") no-repeat left;
  background-size: cover;
}

.main__overlay {
  height: 794px;
  background-image: linear-gradient(
    -60deg,
    $main__line-gradient-one 0%,
    $main__line-gradient-two 100%
  );
  opacity: 0.9;
  z-index: 1;
  // outline: 1px solid #000;
}

.main__offset-row {
  // outline: 1px solid #000;
  margin-top: -580px;
  margin-left: 30px;
  display: flex;
  z-index: 4;
}

.main__offset-printer,
.main__offset-printer-img {
  width: 400px;
  z-index: 9;
  // outline: 1px solid #000;
}

.main__offset-printer {
  margin-left: 246px;
}

.main__content {
  z-index: 9;
  // outline: 1px solid #000;
}

.main__content span {
  font-size: 3rem;
  color: $main__context-span;
  font-weight: 900;
}

.main__content .main__content-a {
  font-size: 3rem;
  font-weight: 900;
  color: $main__content-a;
  text-decoration: underline;
  border-bottom: none;
}

.main__content .main__content-a:hover {
  color: $main__content-a-hover;
}

.main__content p {
  color: $main__content-p;
  font-size: 3rem;
  font-weight: 900;
}

.button__catalog {
  color: $button__catalog;
  margin-left: -120px;
}

.button__catalog-btn {
  text-transform: uppercase;
  margin-top: 119px;
  font-weight: 700;
  font-family: Proxima Nova Rg;
  border: 1px solid $button__catalog-btn-border;
  border-radius: 9px;
  box-shadow: 0px 3px 3px 0px rgba(126, 81, 185, 0.5);
  padding: 14px 33px;
  font-size: 1.5rem;
  transition: all 0.3s ease-out;
  // outline: 1px solid #000;
}

.button__catalog-btn:hover {
  background-color: $button__catalog-btn-hover;
  color: $button__catalog-btn-hover-p;
}

@media (max-width: 1224px) {
  .main__wrapper {
    clip-path: circle(949px at 190px -263px);
    background: url("../../assets/img/main-img/7.jpg") no-repeat left;
    background-size: cover;
  }
  .main__offset-printer,
  .main__offset-printer-img {
    width: 350px;
    z-index: 9;
    // outline: 1px solid #000;
  }
  .button__catalog-btn {
    text-transform: uppercase;
    margin-top: 79px;
    font-weight: 700;
    font-family: Proxima Nova Rg;
    border: 1px solid $button__catalog-btn-border;
    border-radius: 9px;
    box-shadow: 0px 3px 3px 0px rgba(126, 81, 185, 0.5);
    padding: 14px 33px;
    font-size: 1.5rem;
    transition: all 0.3s ease-out;
    // outline: 1px solid #000;
  }
  .main__content span {
    font-size: 2.5rem;
    color: $main__context-span;
    font-weight: 900;
  }
  .main__content .main__content-a {
    font-size: 2.5rem;
    font-weight: 900;
    color: $main__content-a;
    text-decoration: underline;
    border-bottom: none;
  }
  .main__content p {
    color: $main__content-p;
    font-size: 2.5rem;
    font-weight: 900;
  }
}

@media (max-width: 1024px) {
  .main__wrapper {
    -webkit-clip-path: circle(949px at 190px -263px);
    clip-path: circle(729px at 190px -263px);
    background: url(/static/media/7.06cc924d.jpg) no-repeat left;
    background-size: cover;
  }
  .main__offset-row {
    margin-top: -730px;
    margin-left: 30px;
    display: flex;
    z-index: 4;
  }
  .main__offset-printer-img {
    width: 280px;
    z-index: 9;
    // outline: 1px solid #000;
  }
  .main__offset-printer {
    margin-left: 106px;
    width: 280px;
  }
  .main__offset-printer {
    margin-left: 106px;
  }
  .main__content {
    z-index: 9;
    // outline: 1px solid #000;
    max-width: 370px;
  }
  .button__catalog {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $button__catalog;
    margin: 0;
  }
}

@media (max-width: 600px) {
  main {
    margin-left: 0;
    max-width: 100%;
    height: 1150px;
    padding-bottom: 95px;
    background: $main__background;
    z-index: 0;
  }

  .main__wrapper {
    -webkit-clip-path: circle(909px at 190px -263px);
    clip-path: circle(1229px at -210px -263px);
    background: url(/static/media/7.06cc924d.jpg) no-repeat left;
    background-size: cover;
  }

  .main__offset-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 4;
  }
  .main__offset-printer {
    width: 480px;
    margin: 400px 0px 100px 0px;
  }
  .main__offset-printer-img {
    width: 480px;
    z-index: 9;
  }
}
