.maestro__st-1 {
    width: 80px;
    height: 80px;
    // outline: 1px solid #000; 
    enable-background: new 0 0 473.94 473.94;
}

.maestro__st-2 {
    fill: #009DDD;
}

.maestro__st-3 {
    fill: #ED1C2E;
}

.maestro__st-4 {
    fill: #FFFFFF;
}