$xerox__width: 15rem;
$xerox__height: 15rem;
$xerox__fill: #d3d3d3;
$xerox__fill-hover: #e85454;
$xerox__circle-fill: #fff;

.xerox {
  font-size: 10px;
}

.xerox {
  width: $xerox__width;
  height: $xerox__height;
  fill: $xerox__fill;
  margin: 0 1rem;
}
.xerox:hover {
  fill: $xerox__fill-hover;
}

.xerox__circle {
  fill: $xerox__circle-fill;
}

.xerox__path-1 {
  fill: $xerox__circle-fill;
}
