
$partners__background: #f7fbfe;
$partners__line-gradient-one: #8b67b1;
$partners__line-gradient-two: #027b7d;
$partners__h2: #fff;
$partners__p: #fff;
$partners__span:#fff;

.partners{
    font-size: 10px;
}


.partners {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 6rem;
    max-width: 100%;
    background: $partners__background;
}

.partners__logo {
    margin: 0rem 2rem;
    padding-top: 13.8rem;
}

.partners__logo-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 56rem;
}

.partners__join__us {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}



.partners__join__us-rhombus {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13.8rem;
    width: 65.5rem;
    height: 50rem;
    background-size: cover;
    background-image: url(../../assets/img/partners/2_0.png);
    background-position: center;
    clip-path: polygon(50% 0%, 50% 0%, 100% 25%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    // outline: 1px solid #000;
}

.partners__join__us-rhombus-background{
    width: 65.5rem;
    height: 50rem;
    opacity: 0.8;
    background-image: linear-gradient(-60deg, $partners__line-gradient-one 0%, $partners__line-gradient-two 100%);
    z-index: 1;
}



.partners__join__us-rhombus-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    z-index: 999;
}

.partners__join__us-rhombus-content h2{
    font-size: 3.4rem;
    color: $partners__h2;
}

.partners__join__us-rhombus-content p{
    margin: 0;
    padding:  4rem;
    font-size: 2rem;
    color: $partners__p;
}

.partners__join__us-rhombus-content span{
   
    font-size: 2rem;
    color: $partners__span;
}

.partners__logo-item-1,
.partners__logo-item-2,
.partners__logo-item-3,
.partners__logo-item-4,
.partners__logo-item-5,
.partners__logo-item-6,
.partners__logo-item-7,
.partners__logo-item-8,
.partners__logo-item-9,
.partners__logo-item-10,
.partners__logo-item-11{
    margin: 0rem 0rem -4.4rem 0rem;
}