$background__color: #f7fbfe;
$footer__p: black;
$footer__contacts__a__color: black;

footer {
  font-size: 10px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  background: $background__color;
  max-width: 100%;
  padding: 100px 50px;
}

footer h4 {
  font-size: 2.4rem;
}

.footer__info {
  margin: 0px 10px;
  // outline: 1px solid #000;
}

.footer__info p {
  font-size: 2.2rem;
  line-height: 1.6;
  color: $footer__p;
}

.footer__info-carts {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  // outline: 1px solid #000;
}
.visa,
.maestro,
.mastercard {
  width: 80px;
  height: 80px;
  // outline: 1px solid #000;
}

.footer__menu {
  margin: 0px 10px;
  // outline: 1px solid #000;
}

.footer__menu__info {
  margin: 0px 10px;
  // outline: 1px solid #000;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
  // outline: 1px solid #000;
}
.footer__contacts a {
  font-size: 22px;
  padding: 5px;
  color: $footer__contacts__a__color;
}

.footer__contacts a:hover {
  text-decoration: underline;
}

.footer__contacts p {
  margin: 10px;
  font-size: 22px;
  color: $footer__p;
}

@media (max-width: 1024px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background: $background__color;
    max-width: 100%;
    padding: 100px 50px;
  }
  .footer__info {
    width: 300px;
    margin: 0px 1px;
  }
  .footer__menu {
    width: 300px;
    margin: 0px 1px;
  }
  .footer__menu__info {
    margin: 0px 1px;
    width: 300px;
  }
  .footer__contacts {
    display: flex;
    flex-direction: column;
    margin: 0px 1px;
    width: 300px;
  }
}
