
$ricoh__width: 15rem;
$ricoh__height: 15rem;
$ricoh__fill: #D3D3D3;
$ricoh__fill-hover: red;


.ricoh{
    font-size: 10px;
}
.ricoh {
    width: $ricoh__width;
    height: $ricoh__height;
    fill: $ricoh__fill;
}

.ricoh:hover {
    fill: $ricoh__fill-hover;
}