$footer__information-a: #2f3035;

.footer__information{
    font-size: 10px;
}

.footer__information ul{
    display: flex;
    flex-direction: column;
    padding: 0rem;
    margin: 0rem;
    // outline: 1px solid #000;
}
.footer__information ul li{
    padding: .5rem;
}
.footer__information ul li a{
    padding: 0rem;
    margin: 0rem;
    color: $footer__information-a;
    font-size: 2.2rem;
}

.footer__information ul li a:hover{
   text-decoration: underline;
}