$line__gradient-one: #8b67b1;
$line__gradient-two: #027b7d;
$header__nav: #fff;
$header__nav-hover:yellow;
$header__nav__border-bottom: #fff;

.headerNav{
    font-size: 10px;
}

.headerNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
    background-image: linear-gradient(-60deg, $line__gradient-one 0%, $line__gradient-two 100%);
    font-size: 2rem;
    margin: 0;
}


.headerNav,
li,
a {
    padding: 1rem .3rem;
    color: $header__nav;
    font-weight: 400;
    list-style: none;
    text-decoration: none;
    border-bottom: .1rem dashed $header__nav__border-bottom;
}
.headerNav,
li,
a:hover{
    color: $header__nav-hover;
}