.samsung {
    width: 150px;
    height: 150px;
    // outline: 1px solid #000;
}

.samsung__path-1 {
    fill: #D3D3D3;
}



.samsung__path-1:hover {
    fill: #0964AF;
}


.samsung__path-3,
.samsung__path-4,
.samsung__path-5,
.samsung__path-6,
.samsung__path-7,
.samsung__path-8,
.samsung__path-9{
    fill:#F2F2F2;
}

